<h1>Lists#index</h1>
<p>Find me in app/views/lists/index.html.erb</p>
<ul>
  <% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list.id) %></li>
  <% end %>
</ul>

<%# link_to list.name, lists_path(list)  %>
<%# link_to list.name, list_path(list.id) %>
<%= link_to "Create a new lists", lists_new_path %>
