<%# <h1>Create a list</h1> %>

<div class="container py-5">
    <div class="mb-3">
          <h3>Create a new list</h3>
          <%= simple_form_for @list do |f| %>
            <%= f.input :name, placeholder: 'Drama' %>
            <%= f.submit class: 'btn btn-primary' %>
          <% end %>
    </div>
  <%= link_to "return home", lists_index_path, class: "btn btn-dark" %>

</div>
