<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>
<%= @list.name %>

<%= link_to "return home", lists_index_path %>

<%# the text int he button the path to ID we will dlete %>

<%= link_to "delete this list", list_path(@list),
  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" }
  %>
